*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/jlibiqrf/target/
/jlibiqrf-examples/target/
/jlibiqrf-demos/target/
/jlibiqrf-modules/jlibiqrf/target
/jlibiqrf-modules/jlibiqrf-examples/target
/jlibiqrf-modules/jlibiqrf-demos/target
/jlibiqrf-modules/bridge-iqrf-mqtt/target/
/jlibiqrf-modules/jlibiqrf-modules/bridge-iqrf-mqtt/target/
/jlibiqrf-modules/jlibiqrf-demos/bridge-iqrf-mqtt/target/
