<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Bridge_configuration>
    <IQRF_config_path>src/config/cdc-config.xml</IQRF_config_path>
    <MQTT_config>
        <Protocol>tcp</Protocol>
        <Broker>192.168.111.130</Broker>
        <Port>1883</Port>
        <Client_id>f384949afd574bdea7563cf4d9bd2936</Client_id>
        <Clean_session>true</Clean_session>
        <Quite_mode>false</Quite_mode>
        <SSL>false</SSL>
    </MQTT_config>
    <MQTTChecking_interval>10</MQTTChecking_interval>
    <IQRFChecking_interval>10</IQRFChecking_interval>
    <JSON_convertor>com.microrisc.jlibiqrf.bridge.json.SimpleJsonConvertor</JSON_convertor>
</Bridge_configuration>
